{% extends "base.html" %}

{% block title %}機器學習概述{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4">機器學習簡介</h1>
    
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">什麼是機器學習？</h5>
                    <p class="card-text">
                        機器學習是人工智慧的一個分支，它專注於開發能夠從數據中學習和改進的系統。
                        通過分析大量的數據，機器學習算法可以找出模式，並用這些模式來做出預測或決策。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}